/* This is the specialized CSS for the crew page.
*/
body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

.nav-crew {
    box-shadow: inset 0 -5px 0 #FFFFFF;
}

.container {
    grid-template-columns: [left-margin] 55px [logo] 48px [navbar-spacer] 4.31fr [paragraph-1] 2px [paragraph-2] 442px [blur-start] 31px [nav-spacer] 6.46fr [nav-items-start] 542px [nav-right-margin] 165px;
    grid-template-rows: [top-margin] 40px [navbar-1] 48px [navbar-2] 48px [top-spacer] 8.44fr [subheader] 34px [middle-spacer] 17.11fr [item-heading] 37px [content-padding-1] 15px [header] 64px [content-padding-2] 27px [paragraph] 128px [content-padding-3] 13.33fr [selector] 15px [bottom-margin] 10.44fr;
}

.item-blur-box {
    grid-column-start: blur-start;
    grid-column-end: span 4;
    grid-row-start: navbar-1;
    grid-row-end: span 2;
}

.item-nav-line {
    grid-column-start: paragraph-2;
    grid-column-end: nav-spacer;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-nav {
    grid-column-start: 8;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;

    z-index: 2;
}

.item-sub {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.item-sub-nav {
    grid-column-start: paragraph-2;
    grid-column-end: span 1;
    grid-row-start: 13;
    grid-row-end: span 1;
}

.item-subheading {
    grid-column-start: paragraph-2;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
}

.item-heading {
    grid-column-start: paragraph-2;
    grid-column-end: span 1;
    grid-row-start: 9;
    grid-row-end: span 1;

    white-space: nowrap;
}

.item-paragraph {
    grid-column-start: paragraph-1;
    grid-column-end: span 2;
    grid-row-start: 11;
    grid-row-end: span 1;
}

.item-image {
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: 15;
}

.item-image img {
    height: 79vh;
    width: auto;
    float: right;
    margin-right: 9.51vw;
    margin-top: 6.89vh;
}