/* TODO:
   __ Implement desktop layout of Destination page
   __ Create JavaScript to swap between contents on Destination
   __ Implement desktop layout of Crew page
   __ Add JavaScript to swap between contents on Crew
   __ Implement desktop layout of Technology
   __ Add JavaScript to swap between contents on Technology
   __ Create responsive layout for Tablet sizes on each page
   __ Create responsive layout for Mobile sizes on each page
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}
  
a:visited {
    text-decoration: none;
    color: inherit;
}
  
a:hover {
    text-decoration: none;
    color: inherit;
}
  
a:active {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: "Bellefair Regular";
    src: url(fonts/Bellefair-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Regular";
    src: url(fonts/Barlow-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Regular";
    src: url(fonts/Barlow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed Regular";
    src: url(fonts/BarlowCondensed-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed Regular";
    src: url(fonts/BarlowCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #0B0D17;
    --sub-color: #D0D6F9;
    --main-color: #FFFFFF;
}

p {
    font-family: "Barlow Regular", sans-serif;
    color: var(--sub-color);
    margin-top: 0;
    margin-bottom: 0;

    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

h1 {
    font-family: "Bellefair Regular", serif;
    color: var(--main-color);
    text-transform: uppercase;

    margin-top: 24px;
    margin-bottom: 24px;

    font-size: 80px;
    line-height: 100px;
}

h2 {
    font-family: "Bellefair Regular", serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 56px;
}

h3 {
    font-family: "Bellefair Regular", serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 28px;
}

h4 {
    font-family: "Bellefair Regular", serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 20px;
}

h5 {
    font-family: "Barlow Condensed Regular", sans-serif;
    color: var(--sub-color);
    text-transform: uppercase;

    font-size: 16px;
    letter-spacing: 2.7px;
}

.subheading1 {
    font-family: "Bellefair Regular", serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 14px;
}

.subheading2 {
    font-family: "Barlow Condensed Regular", sans-serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 14px;
    letter-spacing: 2.35px;
}

.item-logo img {
    margin-top: 0px;
}

/* REMOVE CLASS!!! */
.logo {
    float: left;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item-menu-button {
    z-index: 4;
    cursor: pointer;
}

.item-menu-button img {
    margin-top: 9px;
}

#openButton {
    display: block;
}

#closeButton {
    display: none;
}

.item-nav {
    display: none;

    position: absolute;
    right: 0;
    height: 100vh;
    width: 67.73vw;

    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
    z-index: 3;
}

.navbar {
    font-family: "Barlow Condensed Regular", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--main-color);
    text-transform: uppercase;
    list-style-type: none;
    float: left;
    margin-left: 8.53vw;
    margin-top: 17.69vh;

    text-shadow: 2px 2px 4px #0B0D17;
}

.navbar li {
    margin-top: 32px;
    font-size: 16px;
    height: 19px;
}

.navbar li:hover {
    box-shadow: inset 0 -5px 0 rgba(255, 255, 255, .5);
}

.navbar li a {
    display: block;
}

.tabs {
    font-family: "Barlow Condensed Regular", sans-serif;
    color: var(--main-color);
    text-transform: uppercase;

    font-size: 16px;
    letter-spacing: 2.7px;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.item-nav-line {
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.25);
    border-bottom-width: 1px;

    z-index: 2;
}

.item-blur-box {
    background-color: rgba(255, 255, 255, 0.02);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    width: 100%;
}

.item-logo img {
    height: 40px;
}

.item-sub {
    font-family: "Barlow Condensed Regular";
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

@media only screen and (min-width: 768px)
{
    .item-menu-button {
        display: none;
    }

    .item-nav {
        position: relative;
        height: auto;
        width: auto;

        display: block;

        background-color: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    .navbar {
        float: right;
        margin: 0;
        height: 96px;
        background: none;

        text-shadow: none;
    }

    .navbar li{
        display: inline-block;
        height: 96px;
        line-height: 96px;

        font-size: 14px;
        letter-spacing: 2.3625px;

        margin-top: 0;
        margin-left: 0;
    }

    .item-sub {
        letter-spacing: 3.375px;
    }
}

@media only screen and (min-width: 1200px)
{

    p {
        font-family: "Barlow Regular", sans-serif;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
    }

    h1 {
        font-size: 150px;
        
        margin-top: 24px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 56px;
    }

    h4 {
        font-size: 32px;
    }

    h5 {
        font-size: 28px;
        letter-spacing: 4.75px;
    }

    .subheading1 {
        font-size: 28px;
    }

    .subheading2 {
        font-size: 14px;
        letter-spacing: 2.35px;
    }

    .navbar li{
        margin-left: 48px;
    }

    .item-blur-box {
        height: 96px;
    }

    .item-logo img {
        height: 48px;
    }

    .item-sub {
        font-size: 28px;
        letter-spacing: 4.725px;
    }
}