/* This is the specialized CSS for the destination page.
*/
body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

.nav-destination {
    box-shadow: inset 0 -5px 0 #FFFFFF;
}
