/* This is the specialized CSS for the destination page.
*/
body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.nav-destination {
    box-shadow: inset 0 -5px 0 #FFFFFF;
}

.container {
   /* combine 4.03fr and 6.88fr? */
    grid-template-columns: [left-margin] 55px [logo] 48px [navbar-left-spacer] 4.44fr [navbar-1] 63px [image-1] 380px [navbar-3] 30px [image-rightmost] 35px [nav-select-spacer] 4.03fr [main-spacer] 6.88fr [distance-info] 143px [info-spacer] 79px [time-info-spacer] 122px [main-rightmost] 100px [right-margin] 11.39fr;
    grid-template-rows: [top-margin] 40px [navbar-1] 48px [navbar-2] 48px [top-spacer] 8.44fr [subheader] 34px [subnav-spacer] 4.44fr [subnav-1] 33px [subnav-2] 1px [header-spacer] 37px [header] 115px [paragraph-spacer] 14px [paragraph] 128px [info-spacer-1] 55px [info-spacer2] 28px [info] 61px [image-bottom] 6px [bottom-spacer] 12.44fr;
}

.item-blur-box {
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item-nav-line {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-nav {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 4;

    z-index: 2;
}

.item-header {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 11;
}

.item-header h1 {
    font-size: 100px;
}

.item-sub {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

    font-family: "Barlow Condensed Regular";
    font-size: 28px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4.725px;
}

.item-image {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 16;
}

.item-sub-nav {
    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: 7;
    grid-row-end: 8;

    font-family: "Barlow Condensed Regular";
    font-size: 16px;
    color: var(--sub-color);
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.item-sub-nav li {
    display: inline-block;
    height: 34px;
    margin-right: 36px;
}

.item-paragraph {
    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: paragraph;
    grid-row-end: info-spacer-1;

    line-height: 32px;
    font-size: 18px;
}

.subheading1 {
    margin-top: 12px;
}

.subheading2 {
    color: var(--sub-color);
}

.item-distance-info {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 15;
    grid-row-end: 16;
}

.item-travel-info {
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 15;
    grid-row-end: 16;
}