/* This is the specialized CSS for the destination page.
*/
body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

.nav-destination {
    box-shadow: inset 0 -5px 0 #FFFFFF;
}

.container {
   
    grid-template-columns: [left-margin] 3.82fr [left-padding] 7.74fr [subheading-start] 63.5px [image] 445px [middle-padding] 10.90fr [main-1] 143px [main-2] 79px [main-3] 122px [main-4] 101px [right-padding] 11.32fr;
    grid-template-rows: [top-margin] 4.44fr [navbar] 96px [top-padding] 5.23fr [subheading] 34px [inner-padding-1] 64px [sub-nav] 33px [inner-padding-2] 37px [paragraph] 128px [inner-padding-3] 55px [inner-padding-4] 28px [labels] 29px [info] 32px [bottom-margin] 13.11fr;
    
}