/* This is the specialized CSS for the grid layout of the index page.
*/
body {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center
}

.container {
   
    /* FIX THIS TO BE RESPONSIVE TO WINDOW SIZE 
    grid-template-columns: 55px, 110px, 382px, 386px, 274px, 165px; */
    grid-template-columns: [left-margin] 3.82% [left-padding] 7.64% [main] 382px [middle-padding] 26.80% [explore] 274px [right-padding] 11.46%;
    /*
    grid-template-rows: 40px, 96px, 251px, 108px, 274px, 131px; */
    grid-template-rows: [top-margin] 4.44% [navbar] 96px [top-padding] 27.89% [main-upper] 108px [main-lower] 274px [bottom-margin] 14.56%;
    
}

.item-nav {
    grid-column-start: 2;
    grid-column-end: span 5;
    grid-row-start: 2;
    grid-row-end: span 1;
    justify-self: center;
}

.item-main {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 2;
    justify-self: center;
}

.item-explore {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
    justify-self: center;
}