/* TODO 2022.05.26:
   consolidate files into one for each category
   fix heading tags in HTML on each page
   setup basic navbar functionality
   use JavaScript to navigate and animate within categories
   set up media queries
   maybe use JavaScript for mobile pop-out menu
*/


:root {
    --background-color: #0B0D17;
    --sub-color: #D0D6F9;
    --main-color: #FFFFFF;
}

body {
    
    
    background-image: url("assets/home/background-home-desktop.jpg");
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
 
}

